* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


header {
    background-color: #e6a8a8;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    display: inline-block;
    margin-left: 30px;
}

.logo img {
    height: 80px;
}

.menu {
    list-style-type: none;
    text-align: center;
    margin-top: 20px;
}

.menu li {
    display: inline-block;
    margin: 0 10px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s;
}

.menu a:hover {
    color: #007bff;
}

#services {
    padding: 80px 0;
    background-color: #fff;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service img {
    width: 100%;
    border-radius: 10px;
}

.service h3 {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
}

.service p {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}





footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-md-4 {
    width: 33.33%;
    padding: 0 15px;
  }
  
  h4 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 14px;
    line-height: 1.6;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .social-icons li,
  .footer-links li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-icons li:last-child,
  .footer-links li:last-child {
    margin-right: 0;
  }
  
  .social-icons a,
  .footer-links a {
    color: #fff;
    font-size: 20px;
  }
  
  .social-icons a:hover,
  .footer-links a:hover {
    color: #ccc;
  }
  
  .text-center {
    text-align: center;
  }
  